*{
    font-family: Arial,sans-serif,helvetica;
}
ul li:first-child{
    color: purple;
}
ul li{
    font-size: 20px;
}
ul li:nth-child(2){
    color: yellow;
    font-weight: bold;
}
ul li:last-child(2){
    color: red;
    font-weight: bold;
}
#link{
    font-size: 30px;
    color: lightsalmon;
}
#link:link{
    color: red;
}
#link:visited{
    color: orangered;
}
#link:hover{
    color: blue;
}
#link:active{
    color:green;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

