//variables
@colorbg :lightblue;
@b:body;
@fuente:Arial;
@{b}{
    background-color:@colorbg;
}

h1{
    font-family:@fuente ;
}
//anidacion
.listado{
    ul{
        li{
          font-size:10px;
          color: coral;  
        }
    }
}
//mixin
.sombras(@size){
    box-shadow: 0px 0px @size;
    text-shadow: 0px 0px @size;
}
.informacion{
    .sombras(5px)
}
//mixin condicionales
h1{
    font-size: 30px+7px;
}
//mixin condicionales
.textoNegro(@value) when (@value=true){
    color:black;
}
h1{
    color: blue;
    .textoNegro(false)
}
//bucles
.loop(@cont) when (@cont>0){
    .loop((@cont -1));
}