body {
  background-color: lightblue;
}
h1 {
  font-family: Arial;
}
.listado ul li {
  font-size: 10px;
  color: coral;
}
.informacion {
  box-shadow: 0px 0px 5px;
  text-shadow: 0px 0px 5px;
}
h1 {
  font-size: 37px;
}
h1 {
  color: black;
}
