%alert-normal{
    border: 1px solid gray;
    background:#ccc;
    color:white;
    padding:10px;
    width:80%;
    margin:20px auto;
}
.alert{
    @extend %alert-normal
}
.alert-danger{
    @extend %alert-normal;
    color:red;
    border-color: red;
}