@use 'base';
@use 'encabezado';

$fuente-tipica: sans-serif;
$color-fondo:#ccc;

body{
    background-color:$color-fondo;
}
h1{
    font-family: $fuente-tipica;
}

#caja{
    border: 1px solid black;
    width: 500px;
    margin:0px auto;
    text-align:center;
    h1{
        color:blue;
    }
    p{
        color:green;
    }
    .info{
        font-size: 10px;
    }
} 
// mixing /funciones
@mixin crearBorder($color,$size,$shadow) {
    border:5px solid $color;
    border-radius: $size;
    box-shadow:0px 0px  $size $shadow; 
}
.listado{
    @include crearBorder(red,20px,black);
}
