.alert-danger, .alert {
  border: 1px solid gray;
  background: #ccc;
  color: white;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
}

.alert-danger {
  color: red;
  border-color: red;
}

h1 {
  text-decoration: underline;
}

body {
  background-color: #ccc;
}

h1 {
  font-family: sans-serif;
}

#caja {
  border: 1px solid black;
  width: 500px;
  margin: 0px auto;
  text-align: center;
}
#caja h1 {
  color: blue;
}
#caja p {
  color: green;
}
#caja .info {
  font-size: 10px;
}

.listado {
  border: 5px solid red;
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}

/*# sourceMappingURL=styles.css.map */
