*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

#principal{
    width: 1200px;
    border: 1px solid #ccc ;
    margin: 0px auto;
    margin-top: 20px ;
   
}
#cabecera{
    width:100%;
    height: 100px;
    background:blue;
    text-align: center;
    line-height:75px;
    font-family:Verdana, Geneva, Tahoma;
    font-size: 34px;
   
}
#menu{
height: 30px;
 background: #eee ;
}
#menu ul li{
    padding: 4px;
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}
#menu ul li:hover{
    background: blue;
}
#menu ul li:hover a{
    color: white;
}

.clearfix{
    float: none ;
    clear: both;
}
#contenido{
    float: left;
    width: 69%;
    border: 1px solid green ;
}
#contenido >h1{
    text-align: center;
    border-bottom:  1px solid #ccc;
    padding:10px;
    text-shadow: 0px 0px 5px black ;
}
#contenido .caja{
    position: relative;
    float:left;
    width:40%;
    height:100px;
    margin: 20px;
    background-color:#ccc;
    text-align: center;
    line-height:80px;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px gray ;
    border-radius:50px 10px 4px 61px;
}
#lateral{
    padding:5px;
    float:left;
    width:30%;
    max-height: 650px;
    overflow-y: scroll;

}
footer{
    width:100%;
    background: #eee;
    color: #444;
    text-align: center;
    border-top: 2px solid #ccc;
}
.libre{
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size:13px;
    position: absolute;
    top :0px;
}
.fija{
    position:fixed;
    top: 50%;
    left:0px;background-color:blue;
    width: 50px;
    height: 50px;
    font-size: 13px;
}
