*{
    margin:0px;
    padding:0px;
}
#container{
    width: 70%;
    background-color: red;
    margin-top: 40px;
    margin-bottom: 40px;
}
header{
    height:150px;
    line-height: 120px;
    text-align: center;
    width: 100%;
    background-color:lightblue;
    font-family: helvetica, arial,sans-serif;
}
aside{
    width: 25%;
    float:left;
    min-height: 700px;
    background: #ccc;
    text-align: center;
    line-height:700px;
}
.clearfix{
    float:none;
    clear:both;
}
#articles{
    background-color:lemonchiffon;
    width:75%;
    min-height: 700px;
    color:white;
    text-align: center;
    float:left;
}
#articles article{
    width:25%;
    height:150px;
    background: green;
    line-height:150px;
    float:left;
    margin:15px;
}

/* responsive */
@media(max-width:888px){
    #articles article{
        width: 40%;
        background:red;
    }
}
@media(max-width:632px){
    #container{
        overflow: hidden;
    }
    article{
        width: 100%;
    }
    #articles article{
        width:90%;
        background:blue;
    }
    aside{
        height:20%;
        float:none;
        min-height: auto;
        line-height: auto;
        width:100%;
        padding:19px;
    }
}