@media (max-width:1250px) {
    .wrapp{
        width: 90%;
        margin:0px auto;
    }
    .card{
        width: 15%;
        margin: 2%;
    }
    #articles{
        width: 65%;

    }
    #articles article{
        width: 97%;
    }
    .card p{
        display: block;
        width: 100%;
    }
    #banner h1{
        width: 100%;
        text-align: center;
    }

}
@media (max-width:1080px){
    .card .category{
        font-size:13px ;
    }
    .card .description{
        font-size:14px ;
    }
    #articles{
        width:61%;
    }

}

@media(max-width:925px){
    #articles{
        width:65%;
    }
    #lateral{
        width:25%;
    }
    #lateral input[type="text"]{
        width:75%

    }
    .aside-box{
        width: 95%;
    }
    #login input[type="email"],
    #login input[type="password"]{
        width:65%;
    }
    #login input[type="reset"]{
        display: none;
    }
    .aside-box{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #login a{
        margin-top: 10px;
        margin-bottom:10px;
    }
}
@media(max-width:899px){
    #lateral h3{
        font-size: 20px;   
    }

}
@media(max-width:799px){
    #banner h1{
        font-size: 25px;   
    }
    .card .description{
        display: none;
    }
    .card{
        height:auto;
    }
    .card .category{
        font-size: 15px;
        margin-top: -23px;
    }
    

    
}
@media(max-width:724px){
    #header{
        width:100%;
        height:120px;

        padding-top:10px;
    }
    #menu{
       height: 200px;
    }
    #logo{
        float:none;
        width:200px;
        height:120px;
    }
}
@media(max-width:600px){
#lateral{
    width:100%;
    float:none;
    min-height: auto;
    margin-top:20px;
}
#articles{
    width: 100%;
    float: none;
    margin:0px auto;
    min-height: auto;
}

}