/*fuentes */
@font-face {
    font-family: "TrebuchetMS";
    src: url(fonts/TrebuchetMS.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BebasNeue";
    src: url(fonts/BebasNeue.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "websymbols-regular";
    src: url(fonts/websymbols-regular-webfont.eof);
    src: url(fonts/websymbols-regular-webfont.eof?#iefix) format("embedded-opentype"),
         url(fonts//websymbols-regular-webfont.woff) format("woff"), 
         url(fonts//websymbols-regular-webfont.ttf) format("truetype"), 
         url(fonts//websymbols-regular-webfont.svg#websymbols-regular) format("svg"); 
    font-weight: normal;
    font-style: normal;
}

/*estilo generales*/

*{
    margin:0px;
    padding:0px;
}
body{
    background:url(../img/pattern.png)
}

.gear, .icon{
    font-family:"websymbols-regular" ;
}

.wrapp{
    width: 1400px;
    margin:0px auto;
}
.autojusto{
    width: 1400px;
    margin:0px auto;
}
.clearfix{
    float:none;
    clear: both;
}
/*CABECERA*/
#header{
width:100%;
height:70px;
background-color: black;
color:white;
font-family: "BebasNeue";
}
#logo{
    float:left;
    width:200px;
    background-color: #37bcf9;
    text-align: center;
    letter-spacing:1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms;
    margin-top:8px;
}
#logo h3{
display: block;
float:right;
font-size:40px;
margin-top:5px;
transition: all 300ms;
margin-right: 35px;
}
#logo .gear{
    display: block;
    float:left;
    font-size: 30px;
    margin-top: 8px;
    margin-left: 8px;
    padding-bottom: 10px;
    animation-name: rotate-gear;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
#logo:hover{
    border-radius: 2;
    color: black;
    background-color:#ccc;
}
#logo:hover .gear{
    animation:fromBello 500ms linear;
}
#logo:hover h3{
    animation: fromRight 700ms linear;
}
@keyframes fromRight{
    from{
        transform: translateX(200%);

    }
    to{
        transform: translateX(0%);
    }
}
@keyframes fromBello{
    0%{
        transform:translateY(0%);
    }
    50%{
        transform:translateY(200%)
    }
    100%{
        transform: translateY(0%);
    }
} 
@keyframes rotate-gear {
    from{
        transform: rotatez(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
#menu{
    float: right;
    height:70px;
    background:transparent;
}
#menu ul li{
    font-size: 24px;
    display: inline-block;
    margin:5px 20px 5px 20px;
    letter-spacing:1px;
    line-height:75px;
}
#menu ul li a{
   color: white;
   text-decoration: none;
   transition:all 200ms;
}
#menu ul li a:hover{
   color: #37bcf9;
   transform:scale(1.2,1.2)
 }
 /*BANNER*/
 #banner{
     width:80%;
     margin-left: 6%;
     height:100px;
     border: 10px solid white;
     box-shadow: 0px 0px 2px gray;
     background:url(../img/bakbaner.png);
     background-position: -200px -200px;
     margin-top:2%;
     animation: backBanner 10s linear;
 }
 @keyframes backBanner {
     0%{
         background-position:0px 0px;
     }
     100%{
         background-position:-200px -200px;
     }
 }

 #banner h1{
     display:block;
     width:850px;
     color: white;
     font-size:45px;
     letter-spacing:2px;
     font-family: "BebasNeue";
     margin:24px auto ;
     text-shadow: 2px 2px 1px rgb(28, 134, 148);
     animation: showText 10s linear;
     overflow: hidden;
 }
 @keyframes showText {
     0%{
        transform:translateX(-600%) scale(5,5);
        opacity: 1;
     }
     50%{
        transform:translateX(-600%) scale(5,5);
        opacity: 1;
     }
     75%{
        transform:translateX(-600%) scale(5,5);
        opacity: 0;
        text-shadow: none;
        color:transparent;
     }
     100%{
        transform:translateX(0%) scale(1,1);
        opacity: 1;
        text-shadow: 2px 2px 1px rgb(28, 134, 148);
     }
 }
 /*TARJETAS*/
 .card{
     float:left;
     height:305px;
     overflow: hidden;
   
     width: 205px;
     border:1px solid #ccc;
     box-shadow: 1px 1px 2px #ddd;
     margin:20px;
     cursor: pointer;

 }
 .card:hover{
     transition:all 300ms;
     background: black;
 }

 .card .icon{
     height:130px;
     width:100%;
     display:block;
     font-size: 50px;
     text-align: center;
     margin:0px auto;
     line-height: 110px;
     transition: all 300ms; 
 }
 .card:hover .icon{
    font-size: 70px;
    color:#37bcf9;
    animation: wow 300ms linear;
}

@keyframes wow{
    from{
        transform: translateY(-200%)
    }
    to{
        transform: translateY(0%)
        
    }
}
 .card .category{
     width:100%;
     height: 50px;
     font-family: "TrebuchetMS";
     font-size: 21px;
     font-weight: bold;
     text-align: center;
     color:#005380;
     transition: all 300ms
 }
 .card:hover .category{
    color: white;
    animation:showCategory 400ms linear;

}
@keyframes showCategory{
    from{
        transform: translateY(-300%);
        color:black;
    }
    to{
        transform: translateY(0%);
        color: white;
    }

}
 .card .description{
     text-align: center;
     color:#005380;
     font-family: "TrebuchetMS";
     transition: all 300ms;
     font-size: 15px;
 }
 .card:hover .description{
    color:white;
    animation: showDescription 400ms linear;
 }
 @keyframes showDescription {
     from{
         transform: translateX(-300%);
         color:black;
     }
     to{
         transform: translateX(0%);
     }
 }
 .espacio{
     height: 400px;
     margin-top: 40px;
     float: left;
    margin-left: 6%;
 }
.lateral{
    float: left;
}
/*LATERAL*/
#lateral{
    width: 300px;
    min-height: 1200px;
    font-family: "trebuchet MS";
    float: right;
    margin: 20px;

}
#lateral input[type="text"]{
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 5px;
    border-radius: 5px;
}
#lateral input[type="text"]:focus{
 color: #555;
 transition: all 300ms;
}
#lateral input[type="button"],
#lateral input[type="submit"]{
height:30px;
cursor: pointer;
font-size: 16px;
background-color: transparent;
border: none;
border-left: 1px solid #ccc;
color: #555;
padding-left: 6px;
}
aside h3:first-child{
    margin-top:0px;
}
.aside-box{
    width:100%;
    height: 240px;
    margin:0px auto;
    margin-top: 20px;
    padding-top: 2px;
    background:white;
    border:1px solid black;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3),0px 3px 7px rgba(0,0,0,0.3),0px 1px 1px rgba(0,0,0,0.3),0px -3px 2px inset;

}
#login #user{
    display: block;
    text-align: center;
    position: absolute;
    margin-left: 5px;
    height: 30px;
    margin-top: 6px;
    padding-left: 25px;
}
#login input[type="email"],
#login input[type="password"]
{
display: block;
margin:0px auto;
width: 80%;
height:30px;
border:1px solid #ccc;
box-shadow: 1px 1px 1px #ccc inset;
border-radius: 5px;
margin-top: 20px;
padding-left: 43px;

}
#login input[type="email"]:focus,
#login input[type="password"]:focus
{
   
    color: #555;
    box-shadow: 1px 1px 1px grey inset; 
}
#login input[type="submit"],
#login input[type="button"],
#login input[type="reset"],
#login button{
    text-align: center;
    width: 100px;
    height:25px;
    margin-top: 20px;
    color:white;
    background:linear-gradient(to bottom,#3eb8e5 0%,#2ca0ca);
    border:1px solid #156785;
    border-radius: 0px ;
    cursor: pointer;
    font-size: 15px;
    font-family: "TrebuchetMS";
    font-weight: lighter;
    margin-left: 20px;
}
#login input[type="submit"]:hover,
#login input[type="button"]:hover,
#login input[type="reset"]:hover,
#login button:hover{
    box-shadow: all 300ms;
}
#login a{
    text-decoration: none;
    margin-left: 18px;
    font-size: 14px;
    display:block;
    color: #555;
    margin-top: 4px;
}
#login a:hover{
    color: #2b2b2b;
}
#social a{
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#search{
    width: 90%;
    height:40px;
    margin: 10px auto;
    
    background-color: white;
    box-shadow: 1px 1px 4px #ccc inset;
    border-radius: 5px;
}
aside h3{
    display: block;
    width: auto;
    height: 45px;
    line-height: 45px;
    box-shadow: 0px 1px 0px rgb(126, 112, 112),1px 2px 0px black;
    background:url(../img/pxgray.png),white;
    font-size:25px;
    font-family: "BebasNeue";
    font-weight: normal;
    letter-spacing:2px;
    padding-left: 15px;
    margin-top: 45px;
    margin-bottom:15px;

}
/*articulos*/
#articles{
    float:left;
    width: 860px;
}
#articles h2{
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: "BebasNeue";
    font-weight: normal;
    font-size:40px;
    letter-spacing:2px;
    background:url("../img/pxgray.png");
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3),0px 3px 7px rgba(0,0,0,0.3),0px 1px 1px rgba(0,0,0,0.3),0px -3px 2px inset;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 15px;

}
#articles article{
    width: 97%;
    height: auto;
    border:1px solid #ccc;
    margin:40px auto;
    padding:10px;
    font-family: "trebuchet ms";
    background:white;
    color:black;
    box-shadow: 1px 1px 2px #ddd;
}
#articles article h4{
    display:block;
    font-size: 23px;
}#articles article h4 a{
    text-decoration:none;
    color:#005380;
}

#articles article h4 a:hover{
    text-decoration: underline;
}
#articles .data{
    float:right;
    background:#393d3f;
    margin:-10px;
    line-height: 30px;
    height: 30px;
    color :white;
    padding:4px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;
}
#articles .data span{
    margin: 5px;
}
