/*ESTILOS GENERALES*/

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;

height: 120px;
border-bottom: 1px solid rgba(225,225,226,0.8);

}
#menu{
flex-grow: 1;
flex-basis: 30%;
height:100%;
padding-right: 20px;
}
#menu > ul{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 height: 100%;
 align-items: center;
 justify-content: space-between;
 list-style: none;
}
#menu a{
    color :#444;
    text-transform: uppercase;
    padding:15px;
    transition: all 300ms;
}
#menu a:hover{
    background-color: #ccc;
    color:white;
}
.logo{
    flex-grow: 1;
    flex-basis: 65%;
  
    padding:10px;
    text-shadow: 1px 1px 0px;
    text-transform: uppercase;
}
.logo h1{
    font-family: helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;

}
#content{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
}
#projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 80%;
}
#project img{
    width:100%;
}
.project{
    flex-basis: 250px;
    flex-grow: 1;
    margin-bottom: 25px;
    margin-right: 24px;
  
}
.project-info{
    padding: 10px;
}
.project-info a{
    font-size: 16px;
    color: black;
    transition: all 300ms;
}
.project-info a:hover{
    color:green;
}
#container{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom:20px;
    margin-top: 40px;
    min-height: 700px;
}
#aside{
    flex-basis: 15%;
    margin-right: 30px;
    padding:15px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#aside h2{
    display: block;
    width:100%;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225,225,226,0.8);
    text-align: center;
}
#aside ul{
    list-style: none;
}
#aside ul li{
    padding-bottom: 20px;
}
#aside a{
    display: block;
    padding: 20px;
    color:#444;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}
#aside a:hover{
    background-color:#444;
    color: #eee;
}
/*footer*/
#footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 120px;
    align-items: center;
    border-top: 1px solid rgba(68, 65, 65, 0.8);
}
#footer .logo{
    opacity: 0.5;
    flex-basis: auto;
    font-family: helvetica;
    font-style: italic;
    font-weight: 900;
    flex-grow: 1;
    font-size: 35px;
}
#footer .info{
    flex-grow: 1;
    opacity: 0.6;
}

@media (max-width:1334px){
     #menu >ul{
         align-items: flex-start;
         justify-content: space-evenly;
         margin-top:20px;
     }
     #header{
         text-align: center;
     }
}
@media (max-width:646px){
    #footer .logo{
        flex-grow: 1;
        order: 1;
        margin-left: 20px;
        color: #444;
        flex-basis: 100%;
        text-align: center;
    }
    #footer .info{
        flex-grow: 1;
        order: 2;
        margin-left: 20px;
        color: #444;
        flex-basis: 100%;
        text-align: center;
    }
    #content{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    padding-bottom:20px;
    flex-direction: column;
    flex-wrap: wrap;
    }
    #aside{
        margin:0px;
    }
    #aside ul{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;

    }
    #aside ul li{
        flex-grow: 1;
        margin-left: 5px;
        margin-right: 5px;
    }
    #project{
        margin-right: 20px;
        margin-left: 20px;
    }

}
