#layout{
    display:inline-flex;
    border:3px solid black;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}
.caja{
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    margin:10px;
    border:4px solid #222;
    background-color:gray;

}
.red{
    background-color:red;
    
}
.green{
    background-color:green;
}
.orange{
    background-color:orange;
   
}
.blue{
    background-color:blue;
}
