#boton{
    display: block;
    padding: 20px;
    background-color:green;
    color:white;
    width:90px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius:10px solid green;
    transition: border 500ms,background-color 1s ,border-radius 15ms;
}
#boton:hover{
    border-radius: 15px;
    background:orangered
}
#caja{
    width:250px;
    height:250px;
    background: lightseagreen;
    color:white;
    border-radius:5px solid black;
    line-height: 200px;
    text-align: center;
    animation-name:desplazamiento ;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes desplazamiento{
    0%{
     margin-left: 0px;
     transform: rotate(360deg);
    }
    50%{
     margin-left: 1200px;
     transform: rotate(360deg);
     border-radius: 999px;
    }
    75%{
        background: red;
    }
    100%{
        margin-left: 0px;
    }
}
