/*ESTILOS GENERALES*/

*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header{
display: grid;
width: 100%;
height: 120px;
align-items: center;
grid-template-columns: 68% 30%;
border-bottom: 1px solid rgba(225,225,226,0.8);

}
#menu{
height:100%;
padding-right: 20px;
}
#menu > ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
  height: 100%;
 align-items: center;
 justify-content: space-between;
 list-style: none;
}
#menu a{
    color :#444;
    text-transform: uppercase;
    padding:15px;
    transition: all 300ms;
}
#menu a:hover{
    background-color: #ccc;
    color:white;
}
.logo{
    flex-grow: 1;
    flex-basis: 65%;
  
    padding:10px;
    text-shadow: 1px 1px 0px;
    text-transform: uppercase;
}
.logo h1{
    font-family: helvetica;
    font-style: italic;
    font-weight: 900;
    font-size: 35px;

}
#content{
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: start;
    justify-content: center;
    padding-top:20px;
    padding-bottom:20px;
    grid-column-gap: 20px;
}
#projects{
    align-items: start;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-gap: 20px;
  
    justify-content: space-between;

}
#project img{
    width:100%;
}
.project{
    margin-bottom: 25px;
    margin-right: 24px;
  
}
.project-info{
    padding: 10px;
}
.project-info a{
    font-size: 16px;
    color: black;
    transition: all 300ms;
}
.project-info a:hover{
    color:green;
}
#container{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225,225,226,0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom:20px;
    margin-top: 40px;
    min-height: 700px;
}
#aside{
   
    margin-right: 30px;
    padding:15px;

}
#aside h2{
    display: block;
    width:100%;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225,225,226,0.8);
    text-align: center;
}
#aside ul{
    list-style: none;
}
#aside ul li{
    padding-bottom: 20px;
}
#aside a{
    display: block;
    padding: 20px;
    color:#444;
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
}
#aside a:hover{
    background-color:#444;
    color: #eee;
}
/*footer*/
#footer{
    display:grid;
    height: 120px;
    align-items: center;
    justify-content: start;
    grid-template-columns: 1fr 25%;
    border-top: 1px solid rgba(68, 65, 65, 0.8);
}
#footer .logo{
    opacity: 0.5;
 
    font-family: helvetica;
    font-style: italic;
    font-weight: 900;
 
    font-size: 35px;
}
#footer .info{

    opacity: 0.6;
}

@media (max-width:1334px){
     #menu >ul{
         justify-content: space-evenly;
         margin-top:20px;
     }
     #header{
         text-align: center;
     }
}
@media (max-width:784px){
    header{
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        width: 100%;
        height: 150px;
        border-bottom: 1px solid rgba(225,225,226,0.8);
        }
        #content{
            display: grid;
            grid-template-columns:  1fr;
            align-items: start;
            justify-content: space-between;
            grid-column-gap: auto;
        }
        #projects{
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fill,1fr);
            grid-gap: 20px;
            justify-items: center;
        }
}

