body{
    font-family: sans-serif;
    text-align: center;
}
li{
    list-style: none;
}
#website-areas{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 20% 10% 50% 10%;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera cabecera"
    "menu menu menu menu menu"
    "contenido contenido contenido contenido lateral"
    "pie pie pie pie pie";
    grid-column-gap: 10px;
    width: 75%;
    height:1000px;
    margin:0px auto;
    border:1px solid #ccc;
 
}
#website-areas #cabecera{
    grid-area: cabecera;
    display: grid;
    justify-content: center;
    align-items: center;

    background:blue ;
    color:white;
    
}
#website-areas #menu{
    grid-area: menu;
    display: flex;
    background: lightblue;
    color:black;
    line-height: 50px;
}
#website-areas #menu ul{
    display: grid;
    background: lightblue;
    color:black;
}
#website-areas #contenido{
    display: grid;
    grid-area: contenido;
    background: white;

}
#website-areas #contenido article{
     background: #ccc;
     border: 1px solid #555;
}
#website-areas #lateral{
    background-color: orange;
    color:white;
}
#website-areas #pie-pagina{
    display: grid;
    grid-area: pie;
    background-color:black;
    color:white;
}