body{
    font-family: sans-serif;
    text-align: center;
}
li{
    list-style: none;
}
#website{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 20% 10% 50% 10%;
    width: 75%;
    height:1000px;
    margin:0px auto;
    border:1px solid #ccc;
    justify-content: space-between;
}
#cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/6;
    background:blue ;
    color:white;
    
}
#menu{
    grid-column: 1/6;
    background: lightblue;
    color:black;
    line-height: 50px;
}
#menu ul{

    display: grid;
    grid-template-columns: repeat(9,1fr);
    background: lightblue;
    color:black;
}
#contenido{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-column: 1/5;
    background: white;
    border:1px solid black;
}
#contenid article{
     background: #ccc;
     border: 1px solid #555;
}
#lateral{
    grid-column: 5/6;
    background-color: orange;
    color:white;
}
#pie-pagina{
    grid-column:1/6;
    background-color:black;
    color:white;
}