body{
    font-family: sans-serif;
    text-align: center;
    
}
.layout{
    width: 80%;
    margin: 0 auto;
    display: grid;
    /*espacio entre elementos grid*/
    grid-template-columns: repeat(2,3fr);
    grid-template-rows: repeat(2, 1fr) 3fr  repeat(2, 1fr);
    border: 3px solid orangered;
}
.layout .caja{
font-size:20px;
color: white;
padding:20px;
border:4px solid #222;
background:gray;
padding: 10px;
}
.layout .red{
    grid-column-start: 1;
    grid-column-end: 2;
    background:red;
} 
.layout .blue{
    background:blue;
}
.layout .pink{
    background:palevioletred;
    grid-row-start: 2;
    grid-row-end: 4;
}