/*fuentes*/
@font-face {
    font-family: "nevis";
    src: url("font/nevis.eot");
    src: url("font/nevis.eot?#iefix")format("embedded-opentype"),
         url("font/nevis.woff")format("woff"),
         url("font/nevis.ttf")format("truetype"),
         url("font/nevis.svg")format("svg");
    font-weight: normal;
    font-style: normal;     
}
@font-face {
    font-family:"fajala" ;
    src: url("fonts/FjallaOne-Regular.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*generales*/
*{
    padding:0px;
    margin:0px;
   
}
a{
color:#529125;
text-decoration:none;
}
a:hover{
    color:#285616;
}
body{
    background-image: url(../img/paven.png);
}
/*formularios*/
input[type="text"],
input[type="email"],
input[type="password"],
select{
    border: 1px solid #ccc;
    box-shadow : 0px 0px 2px #ccc inset;
    transition: all 300ms;
    background-color: white;
    padding:1px;
    padding-top:2px;
    padding-bottom:2px;
    color:gray;
    transition: all 300ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select{
    border: 1px solid #70b231;
    color:black;
    
}
input[type="Button"],
input[type="submit"],
input[type="reset"],
button{
    display: block;
    border-radius: 2px;
    width:60px;
    padding: 3px;
    background-color:#70b231;
    border: 1px solid green;
    cursor: pointer;
    color:white;
}
input[type="Button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button{
box-shadow: 0px 0px 2px gray;
}
input[type="Button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button{
    box-shadow: 0px 0px 3px gray inset;
    text-shadow:0px 0px 1px #ccc ;
}
/*cabecera*/
#header{
    
    width:100%;
    min-width: 1024px;
    height:250px;
    margin: 0px auto;
    letter-spacing:4px;
    margin: top 10px;
    
}
#header h1{
    text-transform: uppercase;
    font-family:nevis;
    text-shadow:0px 2px 1px #333333 ;
    text-decoration:none;
}
#header h1:hover{
text-shadow: 0px 2px 1px #333333, 0px 0px 4px rgb(151, 248, 5);
}
#header #logotipo{
    width:770px;
    margin: 0px auto;
    padding-top: 20px;
}
#header #logotipo img{
    display:block;
    text-align:center;
    margin:0px auto;
    width:140px 
}
#header h1{
    text-align:center;
    font-size:40px;
    color:green;

}
/*menu*/
#nav{
    width: 100%;
    height: 40px;
    background-color:#333333;
    
    font-family: sans-serif,helvetica,arial;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}
#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1130px;
}
#nav >ul>li{
    line-height: 40px;
    float: left;
    border-right:1px solid gray;
    transition:all 300ms;
}
#nav >ul>li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:white;
}
#nav >ul>li>a:first-child{
    border-left: 1px solid gray;
}
#nav>ul>li:hover{
   
    background-color:#70b231;
    box-shadow: 0px 0px 4px green inset;
}
/*menu despeglable*/
#nav>ul>li>ul{
    display: none;
    position:absolute;
    width: 160px;
    box-shadow: 0px 2px 2px gray;
    z-index:1;
}

#nav>ul>li:hover>ul{
    display: block;
}
#nav>ul>li:hover>ul>li{
    background-color:#F2F1F0;
    border-bottom: 1px solid #d6d6d6;
    padding:8px;
    line-height:25px;
    font-size:13px;
}
#nav>ul>li:hover>ul>li a{
    color:gray;
}

#nav> ul> li:hover> ul > li:hover{
   background-color:#ccc;
}
#nav>ul>li:hover>ul>li:hover{
box-shadow: 0px 0px 10px #ccc inset;
}
/*CONTENIDO DE LA BARRA LATERAL*/
#content{
    width:1250px;
    min-height: 1100px;
    margin:0px auto;
}
#aside{
    width: 200px;
    float:left;
    margin:30px;
    background-color:white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #ccc inset;
    font-family:sans-serif,arial,helvetica,sans-serif ;
}
#aside,#frase{
    width:200px;
    float:left;
    margin:30px;
    background-color:white;
    border: 1px solid #ccc;
    font-family: sans-serif,arial,helvetica;
}
#frase{
    clear: both;
    width:180px;
    padding:10px;
    font-size: 14px;
    font-family: sans-serif;
}
#aside .widget{
    display:block;
    width:180px;
    margin:4px auto;
    padding:8px auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
#aside h3{
    display:block;
    color:#333;
    width:100%;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
    border-top:1px solid #ccc;
    border-left: none;
    border-right: none;
}
#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div a{
    display:block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}
#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button{
    margin-top: 5px;
   margin-bottom: 10px;
}
#aside input,label{
    margin:0px auto;
    text-align:center;
}

/*SECCIONES*/
#sections{
    float:right;
    width:70%;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    margin-right: 20px;
}
#sections .titulo{
    font-family: "fajala";
    font-size:25px;
    margin-bottom:5px;
    letter-spacing:1px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10pxdf;
}
#sections section{
    margin-top: 40px;
    background-color:white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow :0px 0px 4px #c9c9c9;
}
